* {
    font-family: 'Moon Dance', cursive;
}

h1 {
    color: darkgrey;
}

h3 {
    color: lightgrey;
}

.bgsquare{
    width: 250px;
    height: 300px;
    margin: auto;
    background-color: black;
    border-radius: 16px;
    padding: 3%;
}